<!--Importar as Classes que serão utilizadas-->
@using System.Net
@using WebApplication_C.Classes

<!--Códgo C# inicial-->
@{
    Layout = null;

    //Criar um objeto Usuario
    Usuario usuario = new Usuario();

    //Buscar os dados do formulario pelo método POST e inserir no objeto Usuario
    usuario.CPF = long.Parse(Request.Form["CPF"]);
    usuario.Senha = Request.Form["senha"];
    usuario.Nome = Request.Form["nome"];
    usuario.Email = Request.Form["email"];


    //inserir o usuário no banco de dados
    DB.Insert_Usuario(usuario);

    //Buscar um usuário do banco de dados
    Usuario Encontrado = DB.Busca_Usuario(usuario.CPF);
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
    <title>Meu primeiro CSHTML</title>
</head>
<body>
    <div>
        <!--Sempre que precisar inserir códigos C# no meio do HTML é só inserir um "ARROBA"-->
        <h1>Bem vindo @Encontrado.Nome ! </h1>
        <p>Seu e-mail de cadastro é: @Encontrado.Email.</p>
        <p>Seu CPF é @Encontrado.CPF .</p>
        <br>
        <p><a href="~/Site/formulario_cadastro_usuario.cshtml">Realize o cadastro de usuários em nosso Site.</a></p>
        <p><a href="~/Site/formulario_cadastro_produto.cshtml">Realize o cadastro de produtos em nosso Site.</a></p>
        <p><a href="~/Site/compras.cshtml">Realize compras em nosso Site.</a></p>
    </div>
</body>
</html>