<!--Importar as Classes que serão utilizadas-->
@using System.Net
@using WebApplication_C.Classes

<!--Códgo C# inicial-->
@{
    Layout = null;

    if(!(Request.Form["ProdutoID"]+"").Equals("") && !(Request.Form["UsuarioID"] + "").Equals("")) {

        //Buscar os dados do formulario pelo método POST e inserir no item no carrinho
        int Id_produto = int.Parse(Request.Form["ProdutoID"]);
        long Id_usuario = long.Parse(Request.Form["UsuarioID"]);



        //inserir um produto no carrinho
        DB.Insert_carrinho(Id_usuario, Id_produto);
    }

    //Criar um objeto Carrinho
    Carrinho carrinho = new Carrinho();
    //Buscar um usuário do banco de dados
    carrinho = DB.GetCarrinho(1);   //Alterar para o ID do usuario logado

}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
    <title>Carrinho de compras:</title>
</head>
<body>
    <div>
        <!--Sempre que precisar inserir códigos C# no meio do HTML é só inserir um "ARROBA"-->
        <h1>Seu carrinho de compras: </h1>

        @{
            List<int> ID_Produtos = carrinho.Id_produto;
        }
        <div id="produtos">
            @foreach (int id_produto in ID_Produtos)
            {

                Produto produto = new Produto();
                produto = DB.Busca_Produto_por_id(id_produto);

                <div>
                    <p>Produto: @produto.Nome</p>
                    <p>Descrição: @produto.Descricao</p>
                    <p>Valor: @produto.Valor</p>
                    <img src="~/Site/img/@produto.Imagem" width="100" height="100" />
                </div>

            }
        </div>
        <p><a href="~/Site/formulario_cadastro_usuario.cshtml">Realize o cadastro de usuários em nosso Site.</a></p>
        <p><a href="~/Site/formulario_cadastro_produto.cshtml">Realize o cadastro de produtos em nosso Site.</a></p>
        <p><a href="~/Site/compras.cshtml">Realize compras em nosso Site.</a></p>
    </div>

</body>
</html>