<!--Importar as Classes que serão utilizadas-->
@using WebApplication_C.Classes

<!--Códgo C# inicial-->
@{
    Layout = null;

    //Criar um objeto pessoa
    Usuario usuario = new Usuario();

    //Buscar os dados do formulario pelo método POST e inserir no objeto cliente
    usuario.CPF = long.Parse(Request.Form["CPF"]);
    usuario.Senha = Request.Form["senha"];

    //inserir o usuário no banco de dadoss
    DB.Insert_Usuario(usuario);

    //Buscar um usuário do banco de dados
    Usuario Encontrado = DB.Busca_Usuario(long.Parse(usuario.CPF + ""));


}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
    <title>Meu primeiro CSHTML</title>
</head>
<body>
    <div>
        <!--Sempre que precisar inserir códigos C# no meio do HTML é só inserir um "ARROBA"-->
        <h1>Bem vindo @Encontrado.Nome @Encontrado.Sobrenome ! </h1>
        <p>Seu e-mail de cadastro é: @Encontrado.Email.</p>
        <p>Seu CEP é @Encontrado.CEP .</p>
        <br>
        <p><a href="~/Site/index.cshtml">Pagina Inicial</a> - <a href="~/Site/cadastro.cshtml">Novo Cadastro</a></p>
    </div>
</body>
</html>